body {
	background: black;
	padding:.2em;
	margin:0px;
}

.title {
	color: white;
	font-weight: bold;
	font-family: sans;
	
}

.wisp_control {
	margin-bottom: 2em;
	text-align: center;
	width:80%;
	margin-left: 10%;
}

.ui-buttonset {
	margin-bottom: 1em;
}
